@import '../../setting';

$app-bar-color: #0067a3;

.navbar-board {
  height: $navbar-board-height;
  padding-left: $gap;
  display: flex;
  align-items: center;
  background-color: $app-bar-color;
  font-size: 1.1rem;
}
