@import './setting';

$board-bg-color: #0079bf;
$app-bar-color: #0067a3;
$list-bg-color: #ebecf0;

$gap: 10px;
$columns-header-height: 46px;
$columns-footer-height: 46px;
$columns-border-radius: 5px;
$card-border-radius: 5px;
$common-element-bg: rgba(255, 255, 255, 0.24);

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.3rem;
}

.trello-master {
  height: 100vh;
  overflow: hidden;
  background-color: $board-bg-color;
}
